.multiple-choice-container {
  /* min-width: 700px; */
  padding: 0 30px;
}
.option-condition-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  
}


.option-row {
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
  flex:1;
  position: relative;
}

.option-input {
  border: 1px solid #999;
  padding: 6px 10px;
  border-radius: 4px;
  width: 100%;
  outline: none;
  font-size: 14px;
  border: none;
  resize: none;
  background-color: transparent;
  
}

.option-input:focus {
    background-color: white;
  }
  
.radio-check-input {
  padding: 2px;
  border-color: red;
  /* border: none; */
}


.hidden-radio {
  /* Hide the native checkbox */
  position: absolute;
  opacity: 00;
  cursor: pointer;
  height: 24px;
  width: 24px;
  z-index: 99;
}

.custom-radio {
  height: 24px;
  width: 24px;
  background-color: white;
  border: 2px solid #8AB3DD; 
  border-radius: 50%;

  margin-right: 8px; 
  padding: 5px; 
  box-sizing: border-box; 
}

.hidden-radio:checked + .custom-radio {
  border-color: #69B5F8; /
}

.custom-radio::after {
  content: "";
  position: relative;
  display: none;
  left: -2px;
  top: -2px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color:  #69B5F8;
  /* border-width: 0 3px 3px 0;
  transform: rotate(45deg); */
}

.hidden-radio:checked + .custom-radio::after {
  display: block;
}








.hidden-condition-radio {
  /* Hide the native checkbox */
  position: absolute;
  opacity: 00;
  cursor: pointer;
  height: 24px;
  width: 24px;
  z-index: 99;
}




.custom-condition-radio {
  height: 24px;
  width: 24px;
  background-color: white;
  border: 2px solid #69B5F8;
  border-radius: 50%;
  margin-right: 8px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hidden-condition-radio:checked + .custom-condition-radio {
  border-color: #69B5F8;
}

.custom-condition-radio::after {
  content: "";
  display: none;
}

.hidden-condition-radio:checked + .custom-condition-radio::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  background: #69B5F8;
  border-radius: 50%;
  z-index: 1;
}

.hidden-condition-radio:checked + .custom-condition-radio::before {
  content: "✔";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 18px;
  z-index: 2;
  font-weight: bold;
}

