.page-flow-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
  align-items: center;
  width: 100%;
  padding-top: 50px;
  position: relative;
}

.page-node-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-node {
  background: #f5faff;
  padding: 10px 16px;
  border-radius: 8px;
  font-weight: 500;
  text-align: center;
  position: relative;
}

.node-conditions {
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
}

.condition-label {
  font-size: 12px;
  color: #6b6b6b;
}

.branches {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 270px;
  position: relative;
}

.branch {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .branch::before {
  content: "";
  position: absolute;
  top: -20px;
  width: 100%;
  height: 1px;
  background: #ccc;
} */

.branch-label {
  font-size: 12px;
  margin-bottom: 30px;
  color: #555;
}
.page-box-container{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.page-box {
  background: #e9f1ff;
  padding: 8px 14px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;

}

.pageflow-next-btn{
    position: fixed;
    right: 50px;
    bottom: 30px;
    border:none;
    outline: none;
    padding: 10px 40px;
    border-radius: 12px;
    background-color: black;
    color: white;
    box-shadow: 0 4px 4px 0 #00000024;
    cursor: pointer;
    font-size: 22px;
}