.dropdown-container {
  padding: 0 30px;
}

.dropdown-option-input {
  border: 1px solid #999;
  padding: 6px 10px;
  width: 40%;
  outline: none;
  font-size: 14px;
  border: none;
  border-bottom: 2px solid black;
}
