.projectsPage-body {
  width: calc(100vw - 300px);
  background-color: white;
  height: 100dvh;
  padding: 10px;
  padding-left: 0px;
  padding-bottom: 0px;
}

.projectsPage-container {
  border: 1.5px solid #696969;
  border-radius: 16px;
  border-bottom: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  min-width: 100%;
  min-height: 100%;
}

.projectsPage-inner-container {
  padding: 40px;
}
.projectsPage-title {
  padding: 27px 50px;
  font-size: 48px;
  font-weight: 300;
  border-bottom: 1.5px solid #696969;
}
.projectsPage-recentWorks {
  display: flex;
  gap: 50px;
  margin-bottom: 60px;
  flex-wrap: wrap;
}
