* {
  font-family: "Inter", sans-serif;
}
.formBuilder-layout {
  display: flex;
  background-color: #fefdfd;
}

.builder-tools-container {
  width: calc(100vw - 276px);
  border: 1.5px solid #696969;
  border-radius: 16px;
  border-bottom: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  /* min-height: 100%; */
  margin: 10px 10px 0 0;
  overflow: hidden;
  /* height: 100vh; */
}

.builder-tools-inner-container {
  display: flex;
  overflow: hidden;
  height: calc(100vh - 121px);
}
.formBuilder-top {
  padding: 27px 50px;

  border-bottom: 1.5px solid #696969;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & input {
    font-size: 48px;
    font-weight: 300;
    border: none;
    outline: none;
  }
  & div {
    display: flex;
    gap: 30px;

    & button {
      font-size: 22px;
      background-color: black;
      color: white;
      padding: 10px 40px;
      border-radius: 12px;
      box-shadow: 0 4px 4px 0 #00000025;
      border: none;
      cursor: pointer;
    }
    & :first-child {
      background-color: #e7eef5;
      color: black;
    }
  }
}

.formBuilder-save-button:disabled {
  cursor: not-allowed;
}
