.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(6px);
}

.modal {
  background: white;
  width: 700px;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 4px 16px 0 #00000050;
  height: 550px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
.fileupload-close-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  scale: 1.5;
}
.fileupload-close-btn:hover {
  background-color: red;
  color: white;
  padding: 0 3px 2px 3px;
  border-radius: 5px;
}

.upload-box {
  border: 2px dashed #999;
  padding: 30px;
  margin: 15px 0;
  border-radius: 8px;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}

.browse-btn {
  display: inline-block;
  background: #007bff;
  color: white;
  padding: 8px 12px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 13px;
  text-align: center;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.cancel-btn,
.upload-btn {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  min-width: 90px;
}

.cancel-btn {
  background: #ddd;
}

.upload-btn {
  background: #007bff;
  color: white;
}
.upload-btn:disabled {
  background: #8cb7e5;
  color: white;
  pointer-events: none;
}
